

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/*======APP.JS STYLES ==============*/
.app{
  width: var(--fullscreen-width);
}

.main__wrapper{
  width: var(--medium-width);
  margin-inline: auto;
}


/*================================ANIMATIONS ========================*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
